@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --color-bg: #0a0a0a;
  --color-surface: #111111;

  --color-text: #ededed;
  --color-text-muted: #a1a1aa;

  --color-primary: #ff6b2c;
  --color-primary-soft: #ff8b57;
  --color-primary-rgb: 255, 107, 44;

  --color-border: #1f1f1f;
 }
 * {
  @apply border-border;
 }

 html {
  scroll-behavior: smooth;
 }

 body {
  @apply bg-bg text-text antialiased;
  font-family: "Inter", sans-serif;
  font-feature-settings:
   "rlig" 1,
   "calt" 1;
 }
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}
