@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  /* Fondo */
  --color-bg: #0a0a0a;
  --color-surface: #111111;

  /* Texto */
  --color-text: #ededed;
  --color-text-muted: #9ca3af;

  /* Marca / acento */
  --color-primary: #f97316;
  --color-primary-soft: #fb923c;

  /* Extras */
  --color-border: #1f1f1f;
 }

 * {
  @apply border-border;
 }

 html {
  scroll-behavior: smooth;
 }

 body {
  @apply bg-bg text-text antialiased;
  font-family: "Inter", sans-serif;
  font-feature-settings:
   "rlig" 1,
   "calt" 1;
 }
}

@layer utilities {
 .text-balance {
  text-wrap: balance;
 }
}
